body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 1px 2px 3px #000000;
    color: #FFFFFF;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 37px;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #252525;
    padding: 50px 150px;

}

h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #696969;


}

.t-slider {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 1px 2px 3px #000000;
    color: #FFFFFF;
}



.texto-historia {
    color: #FFFFFF;
    text-align: justify;
}

.contenedor-historia {
    background-color: #252525;
    padding: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.titulo-blanco {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 37px;
    font-weight: 300;
    color: #000000;
    background-color: #ffffff;
    padding: 50px 150px;

}

.contenedor-cards {
    padding: 0px 120px;
}

.nombre-discografica {
    background-color: #666666;
    color: #FFFFFF;
    font-size: 13pt;
    font-weight: 600;
    padding: 10px 20px 10px;
    margin: 0px 120px 30px;
    
}

.texto-cards {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

.textito-card {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #636363;
}

.bg-negro {
    background-color: #252525;
}

footer {
    background-color:#252525;
    margin-top: auto;
}